{% if current_dir %}
    <button onclick="location.href='{% url 'main' %}?dir={{ current_dir.pk }}&file={{ file.pk }}'" class="file">
        <i class="fa fa-file"></i>
        {{ file.get_name }}
        <a class="delete-link" href="{% url 'delete-file' file.pk %}"><i class="fa fa-trash"></i></a>
    </button>
{% else %}
    <button onclick="location.href='{% url 'main' %}?file={{ file.pk }}'" class="file">
        <i class="fa fa-file"></i>
        {{ file.get_name }}
        <a class="delete-link" href="{% url 'delete-file' file.pk %}"><i class="fa fa-trash"></i></a>
    </button>
{% endif %}
