{% extends 'base.html' %}

{% block content %}
    <div class="container dark-theme">
        <!-- Menu bar -->
        <div class="menu-bar">
            <button class="menu-button" 
            {% if current_file %}
            onclick="location.href='{% url 'prove-file' current_file.pk %}'"
            {% endif %}>
                Run
            </button>
            <button class="menu-button" onclick="location.href='{% url 'create-directory' %}'">
                New Directory
            </button>
            <button class="menu-button" onclick="location.href='{% url 'create-file' %}'">
                Upload File
            </button>
        </div>

        <!-- File selection dialog -->
        <div class="file-selection-dialog" id="file-selection-dialog">
        </div>

        <!-- Program code -->
        <div class="program-code-container">
            <textarea class="code" id="program-code" wrap="soft" placeholder="Code goes here...">
            </textarea>
        </div>

        <!-- Program elements -->
        <div class="program-elements-container">
            <div class="program-name">{{ current_file.get_name }}</div>
                <div class="program-elements">
                {% for section in sections %}
                    {% for data in section.status.data_set.all %}
                        <div class="program-element"
                        {% if section.status.name.lower == 'unknown' %}
                        style="background-color: orange;"
                        {% elif section.status.name.lower == 'valid' %}
                        style="background-color: green;"
                        {% else %}
                        style="background-color: red;"
                        {% endif %}
                        title="{{ section.category.name }}"
                        >
***Status: {{ section.status.name }}***
{{ data.data }}
                        </div>
                        <br>
                    {% endfor %}
                {% endfor %}
                </div>
        </div>

        <!-- Tab data -->
        <div class="tab-data-container">
            <div class="tabs">
                <button id="ProversTab" class="tab tab-active" onclick="changeTab('Provers')">Provers</button>
                <button id ="VCsTab" class="tab" onclick="changeTab('VCs')">VCs</button>
                <button id="ResultTab" class="tab" onclick="changeTab('Result')">Result</button>
            </div>
            <div id="ProversData" class="tab-data">
            </div>
            <div id="VCsData" class="tab-data" hidden>
            </div>
            <div id="ResultData" class="tab-data" hidden>
{% if proving_result %}{{ proving_result.data }}{% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
