{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Michał Wiśniewski">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>InvariantsProver</title>
</head>

<body>
    <div class="container dark-theme">
        <!-- Menu bar -->
        <div class="menu-bar">
            <button class="menu-button">Run</button>
            <button class="menu-button">Upload</button>
            <button class="menu-button">New</button>
            <button class="menu-button">Delete</button>
            <button class="menu-button">Download</button>
            <button class="menu-button">Info</button>
        </div>

        <!-- File selection dialog -->
        <div class="file-selection-dialog">
            <button class="file">main.c</button>
            <button class="file">hash.c</button>
            <button class="file">vector.c</button>
            <button class="file">matrix.c</button>
        </div>

        <!-- Program code -->
        <div class="program-code-container">
            <textarea class="code" wrap="soft" placeholder="Code goes here...">
/*@ requires 0 <= n && \valid(a+(0..n-1));
assigns \nothing;
ensures \result == -1 ==> (\forall integer i; 0<= i < n ==> a[i] != v);
ensures 0 <= \result < n ==> a[\result] == v;
ensures -1 <= \result < n;
*/
int find(int n, const int a[], int v)
{
    int i;

    for (i=0; i < n; i++) {
    if (a[i] == v) {
        return i;
    }
    }

    return -1;
}
            </textarea>
        </div>

        <!-- Program elements -->
        <div class="program-elements-container">
            <div class="program-name">main.c</div>
            <textarea wrap="soft" class="program-elements" readonly>
/*@ requires 0 <= n && \valid(a+(0..n-1));
assigns \nothing;
ensures \result == -1 ==> (\forall integer i; 0<= i < n ==> a[i] != v);
ensures 0 <= \result < n ==> a[\result] == v;
ensures -1 <= \result < n;
*/
int find(int n, const int a[], int v)
{
    int i;

    /*@ loop invariant 0 <= i <= n;
        loop invariant \forall integer j; 0 <= j < i ==> a[j] != v;
        loop assigns i;
        loop variant n - i; */
    for (i=0; i < n; i++) {
    if (a[i] == v) {
        return i;
    }
    }

    return -1;
}
            </textarea>
        </div>

        <!-- Tab data -->
        <div class="tab-data-container">
            <div class="tabs">
                <button class="tab tab-active">Information</button>
                <button class="tab">Messages</button>
                <button class="tab">Properties</button>
                <button class="tab">Values</button>
            </div>
            <div class="tab-data">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum libero arcu, lobortis faucibus justo
                malesuada, gravida gravida velit. Ut condimentum sodales ipsum, ut porta nunc efficitur et. Nulla non
                lorem lacus. Sed nibh purus, venenatis ac nisi nec, egestas placerat sapien. Nunc imperdiet urna sed
                velit pretium, in congue orci placerat. Aliquam rutrum ex eu convallis condimentum. Aliquam condimentum
                leo ac dolor malesuada, scelerisque ornare nulla sagittis.
                Proin convallis magna quis eros tristique, non feugiat nisl tincidunt. Curabitur ultrices nulla neque.
                Fusce eu lorem a lorem egestas rutrum efficitur quis nulla. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia curae; Donec eleifend tellus enim. Donec tempor ultricies
                fermentum. Vestibulum id ante sem. Sed vitae lectus vitae tellus facilisis pharetra. Ut dignissim lacus
                at tortor feugiat ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia curae; Praesent ut lectus a erat varius hendrerit vel vitae massa. Suspendisse mattis libero in
                est vestibulum malesuada eu in mi. Donec ut lorem sem.

                Cras tristique mauris vel mauris venenatis, vitae convallis est luctus. Fusce sapien turpis, laoreet in
                sapien a, dictum lobortis tortor. Cras nec aliquet sem. Suspendisse sit amet blandit urna. Vestibulum
                viverra dui quis nisl hendrerit ullamcorper. Aenean at feugiat orci. Praesent sed ipsum felis. Nulla
                vitae nunc sapien. Ut malesuada nunc eget eros viverra dapibus. Nulla molestie vel justo auctor
                vestibulum. Vestibulum suscipit egestas turpis quis mattis. Duis tincidunt ut est ut condimentum. Donec
                non odio luctus, finibus lectus in, iaculis mi. Cras vestibulum fringilla elementum.
            </div>
        </div>
    </div>

</body>

</html>