.light-theme {
    --font-color: #212121;
    --menu-bar-background-color: #cfcece;

    --file-selection-background-color: #cfcece;
    --file-list-backround-color: #ffffff;
    --file-even-background-color: #E0E0E0;
    --file-odd-background-color: #BDBDBD;
    --file-hover-background-color: #9E9E9E;

    --program-elements-background-color: #cfcece;

    --tab-data-background-color: #cfcece;
}

.dark-theme {
    --font-color: #000000;
    --menu-bar-background-color: #c4bfbf;

    --file-selection-background-color: #c4bfbf;

    --program-elements-background-color: #c4bfbf;

    --tab-data-background-color: #c4bfbf;
}

html, body {
    height: 100%;
    margin: 0;
}

.menu-bar {
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(6, 1fr) repeat(6, 1fr);

    background-color: var(--menu-bar-background-color);
    border: 1px solid black;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #9E9E9E;
}

.file-selection-dialog {
    grid-area: fileselection;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--file-selection-background-color);
    /* border: 1px solid black; */
}

.file-list {
    height: 95%;
    width: 80%;
    overflow: auto;
    background-color: var(--file-list-backround-color);
    border: 3px solid black;
    position: absolute;
}

.file {
    padding-top: 5%;
    padding-bottom: 5%;
    min-width: 100%;

    text-decoration: none;
    cursor: pointer;

    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    border-left: none;
    border-right: none;
    background-color: white;
}

.file:hover {
    background-color: lightgray;
}

.program-code-container {
    grid-area: programcode;
    background-color: #cfcece;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.code {
    overflow: auto;
    font-size: large;
    resize: none;
    width: 95%;
    height: 90%;
    border: 3px solid black;
}

.program-elements-container {
    grid-area: programelements;
    background-color: var(--program-elements-background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.program-name {
    overflow: auto;
    font-size: large;
    width: 95%;
    height: 5%;
    border: 3px solid black;
    background-color: white;
}

.program-elements {
    overflow: auto;
    font-size: large;
    resize: none;
    width: 95%;
    height: 90%;
    border: 3px solid black;
}

.tab-data-container {
    grid-area: tabdatacontainer;
    background-color: var(--tab-data-background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tabs {
    width: 95%;
    height: 10%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    border: 3px solid black;
    border-bottom: none;
    background-color: white;
}

.tab {
    width: 10%;
    background-color: white;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    cursor: pointer;
}

.tab:hover {
    background-color: lightgray;
}

.tab-active {
    border-bottom: none;
}

.tab-active:hover {
    background-color: white;
}

.tab-data {
    width: 95%;
    height: 80%;
    background-color: white;
    border: 3px solid black;
    border-top: none;

}

.container {
    color: var(--font-color);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
        "menu menu menu menu menu menu menu"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer"
        "fileselection tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer"
        "fileselection tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer";
}