.light-theme {
    --font-color: #000000;
    --background-color: #ffffff;
    --hover-color: #c2c2c2;
    --container-border: 3px solid #000000;
    --button-border: 1px solid #000000;
}

.dark-theme {
    --font-color: #20C20E;
    --background-color: #000000;
    --hover-color: #474444;
    --container-border: 3px solid #20C20E;
    --button-border: 1px solid #20C20E;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--font-color);
}

html, body {
    height: 100%;
    margin: 0;
}

textarea {
    white-space: pre;
}

.menu-bar {
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--background-color);
    border: var(--container-border);
}

.menu-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    background-color: var(--background-color);
    cursor: pointer;
    border: none;
    border-right: var(--button-border);
}

.menu-button:hover {
    background-color: var(--hover-color);
}

.file-selection-dialog {
    grid-area: files;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--background-color);
    border: var(--container-border);
}

.file {
    padding: 5%;
    min-width: 100%;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--background-color);
    border: none;
    border-bottom: var(--button-border);
    word-wrap: break-word;
}

.file:hover {
    background-color: var(--hover-color);
}

.program-code-container {
    grid-area: code;
    background-color: var(--background-color);
    position: relative;
    border: var(--container-border);
}

.code {
    overflow: auto;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: large;
    background-color: var(--background-color);
    border: none;
}

.program-elements-container {
    grid-area: elements;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--background-color);
    border: var(--container-border);
}

.program-name {
    overflow: auto;
    height: 10%;
    font-size: large;
    border-bottom: var(--container-border);
    background-color: var(--background-color);
    padding-left: 5%;
    padding-right: 5%;
}

.program-elements {
    overflow: auto;
    outline: none;
    resize: none;
    border: none;
    font-size: large;
    width: 100%;
    height: 90%;
    background-color: var(--background-color);
}

.tab-data-container {
    grid-area: tabs;
    position: relative;
    background-color: var(--tab-data-background-color);
    border: var(--container-border);
}

.tabs {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--background-color);
}

.tab {
    min-width: 10%;
    background-color: var(--background-color);
    cursor: pointer;
    font-size: small;
    border: var(--button-border);
    border-top: none;
    border-left: none;
}

.tab:hover {
    background-color: var(--hover-color);
}

.tab-active {
    border-bottom: none;
}

.tab-active:hover {
    background-color: var(--background-color);
}

.tab-data {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    background-color: var(--background-color);
    padding: 1%;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
        "menu menu menu menu menu menu menu"
        "files code code code code elements elements"
        "files code code code code elements elements"
        "files code code code code elements elements"
        "files code code code code elements elements"
        "files code code code code elements elements"
        "files code code code code elements elements"
        "files tabs tabs tabs tabs tabs tabs"
        "files tabs tabs tabs tabs tabs tabs"
        "files tabs tabs tabs tabs tabs tabs";
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-areas: 
            "menu menu menu menu menu menu menu"
            "files files files files files files files"
            "code code code code code code code"
            "code code code code code code code"
            "code code code code code code code"
            "code code code code code code code"
            "elements elements elements elements elements elements elements"
            "elements elements elements elements elements elements elements"
            "tabs tabs tabs tabs tabs tabs tabs"
            "tabs tabs tabs tabs tabs tabs tabs";
    }

    .program-name {
        height: 20%;
    }

    .tabs {
        height: 15%;
    }

    .tab-data {
        height: 85%;
    }
}
