* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.light-theme {
    --font-color: #000000;
    --background-color: #ffffff;
    --hover-color: #c2c2c2;

    --container-border: 3px solid #000000;
}

.dark-theme {
    --font-color: #000000;
    --menu-bar-background-color: #c4bfbf;

    --file-selection-background-color: #c4bfbf;

    --program-elements-background-color: #c4bfbf;

    --tab-data-background-color: #c4bfbf;
}

html, body {
    height: 100%;
    margin: 0;
}

.menu-bar {
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(6, 1fr) repeat(6, 1fr);

    background-color: var(--background-color);
    border: var(--container-border);
}

.menu-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;

    background-color: white;
    cursor: pointer;

    /* Set only right border. */
    border: none;
    border-right: 1px solid black;
}

.menu-button:hover {
    background-color: var(--hover-color);
}

.file-selection-dialog {
    grid-area: fileselection;
    display: flex;
    flex-direction: column;

    overflow: auto;

    background-color: var(--file-selection-background-color);
    border: var(--container-border);
}

.file {
    padding: 5%;
    min-width: 100%;
    text-decoration: none;
    cursor: pointer;

    background-color: var(--background-color);

    border: none;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.file:hover {
    background-color: var(--hover-color);
}

.program-code-container {
    grid-area: programcode;
    background-color: var(--background-color);
    position: relative;

    border: var(--container-border);
}

.code {
    overflow: auto;
    outline: none;
    resize: none;
    
    width: 100%;
    height: 100%;
    margin: none;
    font-size: large;
    background-color: var(--background-color);
}

.program-elements-container {
    grid-area: programelements;
    position: relative;

    background-color: var(--background-color);
    border: var(--container-border);
}

.program-name {
    overflow: auto;
    
    width: 100%;
    height: 5%;

    font-size: large;
    border-bottom: var(--container-border);
    background-color: var(--background-color);
    padding-left: 2%;
    padding-right: 2%;
}

.program-elements {
    overflow: auto;
    outline: none;
    resize: none;
    
    font-size: large;    
    width: 100%;
    height: 95%;
}

.tab-data-container {
    grid-area: tabdatacontainer;
    position: relative;

    background-color: var(--tab-data-background-color);
    border: var(--container-border);
}

.tabs {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    position: relative;

    background-color: var(--background-color);
}

.tab {
    min-width: 10%;
    background-color: var(--background-color);
    cursor: pointer;
    font-size: small;

    border: 3px solid black;
    border-top: none;
    border-left: none;
}

.tab:hover {
    background-color: var(--hover-color);
}

.tab-active {
    border-bottom: none;
}

.tab-active:hover {
    background-color: var(--background-color);
}

.tab-data {
    width: 100%;
    height: 90%;
    overflow-y: auto;

    background-color: var(--background-color);
    padding: 1%;
}

.container {
    color: var(--font-color);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
        "menu menu menu menu menu menu menu"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection programcode programcode programcode programcode programelements programelements"
        "fileselection tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer"
        "fileselection tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer"
        "fileselection tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer tabdatacontainer";
}